{% extends 'app.twig' %}

{% block content %}
    <div class="d-flex align-items-center justify-content-center" style="height:100vh;">
        <img src="/img/404.png" class="img-fluid" alt="{{ app_name }} 404">
    </div>
{% endblock %}
