<div class="row justify-content-center">
    <div class="col-sm-6">
        {{#if flash.success}}
            <div class="alert alert-success mt-4" role="alert">
                {{ flash.success }}
                <br>
                <small class="text-muted">Please check your spam/junk folder if you haven't received an email.</small>
            </div>
        {{/if}}
        {{#if flash.error}}
            <div class="alert alert-danger mt-4" role="alert">{{ flash.error }}</div>
        {{/if}}
        <form method="post" class="bg-white shadow rounded-3 my-4 p-4" autocomplete="off">
            <input type="hidden" name="_csrf" value="{{ csrf }}">
            <div class="mb-3">
                <label for="email" class="form-label">Email <span class="text-danger">*</span></label>
                <input type="email" id="email" name="email" class="form-control bg-light" required>
            </div>
            <div class="mb-3">
                <label for="message" class="form-label">Message <span class="text-danger">*</span></label>
                <textarea id="message" name="message" class="form-control bg-light" rows="5" required></textarea>
            </div>
            <button type="submit" class="btn btn-submit d-flex mx-auto mt-2">Send Message</button>
        </form>
    </div>
</div>