body {
    font-family: 'Nunito', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

form label {
    color: #696969;
}

form .btn-submit {
    color: #fff;
    background-color: #9948ff;
    border-color: #9948ff;
}

form .btn-submit:hover {
    color: #fff;
}
